/*
* Color Scheme
* Blue
*/

/* #Links
================================================== */
a { color: #7d9669; 
}
	
.tagline, .side-tagline {
	color: #7d9669;
}
	
.menu-bar {
	border-top-color:#7d9669;
}

a.home-btn:hover {
	color: #7d9669
}

.home-slider #bx-pager h5 {
	color: #7d9669;
}

.carousel-controls a {
	background-color: #C1D0BA;
}

.carousel-controls a:hover {
	background-color: #7d9669;
}

.tools a:hover {
	color: #7d9669;
}

.links-tools a:hover {
	color: #7d9669;
}

.etabs li a:hover, .etabs li a.active:hover {
	background-color: #7d9669;
}

.etabs li a.active { 
	color: #7d9669;
}

.agent-list .profile-meta {
	color: #7d9669;
}

.social-aside {
	border-left: 3px solid #7d9669;
}

.social-aside:before {
	border-left-color: #7d9669;
}

.social-aside a:hover {
	background-color: #7d9669;
}

ul.prop-data .price {
	color: #7d9669;
}

.toolbar .dollar,
.toolbar .map {
	border-right: 1px dotted #7d9669;
}

.property-listing h4 {
	color: #7d9669;
}

.property-details span { color: #7d9669; }

.login-form span {
	color: #7d9669;
}

.estimate span {
	color: #7d9669;
}

.progress-label {
	background-color: #7d9669;
}

.tipsy-inner { 
	color: #7d9669; 
}

.social a {
	background-color: #c1d0ba;
}

.social a:hover {
	background-color: #597046;
}

a.home-btn {
	color: #859c72;
}

.home-slider #bx-pager a.active, .home-slider #bx-pager a:hover  {
	border-right-color: #859c72;
}

.top-bar {
	background: url(../../images/colors/green/bg-top-bar.png) repeat-x;
}

.register-btn {
	background-color: #597046;
}

.register-btn:hover {
	background-color: #80986c;
}

.switcher a:hover, .switcher a.active {
	background-color: #7d9669;
}

.switcher a {
	background-color: #C1D0BA;
}

.list-grid-gallery figure a.camera {
	background: url(../../images/colors/green/camera-count-ico.png) no-repeat;
}

.mosaic-gallery figure a:hover {
	background: url(../../images/colors/green/sale-ico.png) no-repeat left top;
}

.dollar 	{ background: url(../../images/colors/green/dollar-tag-ico.png) no-repeat left center; }
.map 		{ background: url(../../images/colors/green/pointer-ico.png) no-repeat 2px center; }
.next-arr 	{ background: url(../../images/colors/green/mini-right-arr.png) no-repeat right center; }

.property-details li {
	background: url(../../images/colors/green/prop-list-sprite.png) no-repeat left top;
}

#price-range .ui-slider-handle,
#beds-range .ui-slider-handle,
#baths-range .ui-slider-handle,
#meters-range .ui-slider-handle {
	background: transparent url(../../images/colors/green/slider-handler.png) no-repeat center top;
}
ul.arrow li {
	background: url(../../images/colors/green/mini-right-arr.png) no-repeat left 10px;
}

.button,
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
	  background: #859c72;
	  background: -webkit-gradient(linear, 0 0, 0 100%, from(#C1D0BA), to(#859c72));
	  background: -webkit-linear-gradient(#C1D0BA 0%, #859c72 100%);
	  background: -moz-linear-gradient(#C1D0BA 0%, #859c72 100%);
	  background: -o-linear-gradient(#C1D0BA 0%, #859c72 100%);
	  background: linear-gradient(#C1D0BA 0%, #859c72 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C1D0BA', endColorstr='#859c72',GradientType=0 );
}


.button:hover,
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		background: #859c72;
		background: -moz-linear-gradient(top,  #859c72 0%, #C1D0BA 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C1D0BA), color-stop(100%,#215785));
		background: -webkit-linear-gradient(top,  #859c72 0%,#C1D0BA 100%);
		background: -o-linear-gradient(top,  #859c72 0%,#C1D0BA 100%);
		background: -ms-linear-gradient(top,  #859c72 0%,#C1D0BA 100%);
		background: linear-gradient(to bottom,  #859c72 0%,#C1D0BA 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#859c72', endColorstr='#C1D0BA',GradientType=0 );
}

.radio-list li:not(#foo) input[type="radio"]:checked + label:before,
.filter-list a.current:before,
.filter-list a:hover:before {
	border: 5px solid #80986c;
	border-color: #80986c transparent transparent transparent; 
}

.radio-list.v2 label,
.filter-list a {
	background-color: #80986c;
}

.radio-list li:not(#foo) input[type="radio"]:checked + label {
	background-color: #80986c;
}

.list-grid-gallery article:hover {
	border-color: #80986C;
}

.gallery-in-two .price span {
	color: #80986c;
}

.ui-slider-range {
	background: url(../../images/colors/green/form-slider-bg.gif) repeat-x center top !important;
}

#years .ui-slider-handle {
	background-image: url(../../images/colors/green/form-years-sp.png);
}

.bx-slider-points .price span {
	color: #80986c;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #597046;
}

.tools {
	background-color: #C1D0BA;
}

.mini-tabs .etabs li a {
	color: #80986c;
}

.text span, .mosaic-gallery .price span {
	color: #80986c;
}

.social-aside a {
	background: #C1D0BA;
}

.mosaic-gallery .table-list {
	color: #80986c;
}

.holder .jp-previous, .holder .jp-next {
	color: #80986c;
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color:  #C1D0BA;
}

.holder a:hover, .holder a.jp-current, a.jp-current:hover {
	color: #80986c;
}
.follow{
	border-top: 2px solid #C1D0BA;
}










